.english_time {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; // Распределяем карточки равномерно
  gap: 20px; // Отступ между карточками

  .card {
    flex: 0 1 calc(33.333% - 20px); // Ширина карточки с учетом gap
    margin-bottom: 20px; // Отступ снизу для каждой карточки

    // Уменьшаем размеры для мобильных устройств, если необходимо
    @media (max-width: 768px) {
      flex: 0 1 calc(50% - 20px); // Для меньших экранов делаем 2 карточки в ряду
    }

    @media (max-width: 480px) {
      flex: 0 1 100%; // На самых маленьких экранах делаем 1 карточку в ряду
    }
  }


  .ant-card-body {
    padding: 0;
  }
}
